#body {

  background: rgb(221, 247, 227);
  color: rgb(43, 38, 38);
}

.navbar-brand {
  padding-left: 3%;
}

#nav-logo {
  margin-left: 50px;
  margin-right: 5px;
  width: 40px;
  height: 40px;

}

.navbar-nav {
  padding-right: 50px;
}

.home {
  padding-left: 100px;

}

.hide {
  display: none;
}

.homePage_data {
  margin-left: 2%;
  margin-right: 2%;
}

#home {
  background-image: url(images/home_page_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: rgb(174, 198, 199);
  background-size: cover;
  width: 100%;
 
}

#preloader {
  background: rgb(20, 46, 20) url(images/groot-logo-animation-Recovered.gif) no-repeat center;
  background-size: 30%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
.call{
  max-width: 10%;
  align-items: center;
  text-align: center;
}
hr.rule{
  border-top: 3px solid white;
}
#about-us-img{
  /* margin-left: 100px; */
  width: 10%
}
#about-us-data{
  margin-right: 80%;
}
